.property-wrapper {
  .header-text {
    padding-left: 20px;
  }
  .property-filter {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 20px;
  }
  .property-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    .property-card {
      min-width: 350px;
      margin: 20px;
      img {
        height: 350px;
        width: 450px;
      }
      .property-title {
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
      }
      .property-add {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
      }
      .property-info-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 30px;
        .property-info {
          display: flex;
          .pr--5 {
            padding-right: 5px;
          }
          span {
            display: flex;
            align-items: center;
            padding-right: 10px;
          }
        }
        .property-type {
          color: $gray-text;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}

.form-main-wrapper {
  padding-left: 20px;
  .form-wrapper {
    .form-division {
      display: flex;
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    .submit--button {
      width: 150px;
      height: 60px;
      border-radius: 20px;
      background-color: $Orange;
      font-size: 16px;
      font-weight: 600;
      color: $white-color;
      border: transparent;
      &:hover {
        background-color: transparent;
        color: $Orange;
        border: 2px solid $Orange;
      }
    }
  }
  .primary-form-wrapper {
    border: 1px solid $Orange;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    margin: 10px;
  }
  .pb--20 {
    padding-bottom: 20px;
    label {
      color: $gray-text;
    }
    .radio-text {
      color: $black-color;
    }
  }
  .error {
    color: red;
    padding: 0;
    margin: 0;
  }
  .secondary-form-wrapper {
    border: 1px solid $Orange;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    margin: 10px;
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(19px);
      -ms-transform: translateX(19px);
      transform: translateX(19px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .form-notification {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
    }
  }
}
